.login-box{
    background: url(../images/Background\ Image.svg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}
a{
    color: white;
    display: block;
    margin: .5rem 0;
}
a p{
    float: right;
}